body {
    text-align: center;
    background-color: #000000;
}

.container-fluid{
    margin: 10px;
}

.contents{
    max-width : 1080px;
    width: 95%;
    margin: 10px auto;
    padding: 10px 10px;
    background-color: #ffffff;
    border-radius: 10px;
}

.title {
    color: #ffffff;
    font-size: 200%;
}

.imgContent{
	width:45%;
	display: inline-block;
	_display: inline;
}

img {
	width:100%;
}

input {
    width:60px;
    margin-bottom: 10px;
}